**/node_modules/
**/.pnpm-store/
**/dist/
**/build/
**/.build/
**/.vercel/
**/.wrangler/
**/.astro/
**/.github/
**/coverage/
**/.cache/
**/tmp/
**/.tmp/
**/temp/
pnpm-lock.yaml
docs/
packages/docs/
ecosystem-tests/
examples/
